/* General styling for the entire body */
body{
   margin: 0 0 0 0;
    font-size: 1.2vw;
  font-family: 'Barlow', sans-serif;
}
/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Styling for the header section, including site title and navigation */
header h1 {
    background: yellow;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.6em;
    letter-spacing: 0.09em;
    margin: unset;
   
}
header >  nav {
   background: rgb(95, 93, 93);
   margin: unset;
   
}
header > nav > ul {
   
    text-align: unset;
    display: flex;
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0.6em 15em 0.6em 12em;
    margin-left: 28em;
    margin-right: 28em;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
    
   padding: 0.5em;

}
/* Styling for navigation links */
a {
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    word-spacing: 0.1em;
}

header > nav > ul > a > li {
    text-decoration: none;
    color: white;
    align-items: center;
    text-transform: lowercase;
   
    text-align: center;
    font-weight: 600;
}
header>section {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    margin:0 9vw;
    padding: 10vh 2.2vw 16.5vh 2.2vw;
    background: rgba(0, 0, 0, 0.7);
} 
img{
    max-width: 16vw;
    float: right;
}
/* Styling for the main content section */
main >header {
    margin-top: -calc(1.2em+0.6em+0.6em+0.7em)vh;
    background-image: url("images/talking_heads-speaking_in_tongues.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
header > section >h1 {
    text-decoration: none;
    padding: unset;
    background: none;
    color: yellow;
    font-weight: 900;
    font-size: 1.8em;
    font-family:  'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: left;
    padding-left: 0.1em;
    padding-bottom: unset;
}

header > section > h2 {
    margin: unset;
    padding: unset;
    font-size: 1.8em;
    color: white;
    font-family: 'Roboto' , sans-serif;
    padding-top: 0.1vh;
}
header > section > h3{
    color: rgba(173, 170, 170, 0.97);
}
header > section > h3 > strong{
    font-weight: 900;
}


/* Styling for the aside (sidebar) section */

article > aside  {
    float: right;
    margin-right: 6vw;
    max-width: 19vw;
    font-size: 0.8em;
    
}
article > aside  > h2 {
    background: yellow;
    color: black;
    padding: 2.2vh 3vw 2.2vh 1vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: unset;
}
article > aside >p {
    background: #000000c2;
    color: white;
    margin-top: unset;
    margin-bottom: unset;
    padding: 1vw 1vw;

}
article > aside > blockquote {
    margin: unset;
    background: #000000c2;
    color: white;
    padding: 1.5vh 1vw 1vh 3vw;
    margin-bottom: unset;
    border-bottom: 10px white;
}

sup a {
    color: yellow;
}

article > aside > section  {
   
    margin-left: 0px !important;
    max-width: 28vw; 
   
}
/*Styling for the youtube video */
 article > aside > section  > iframe {
   
    background: #000000c2;
   
    margin-top: unset;
    height: 20vh;
    width: 15.95vw;
    padding: 1vh 1.5vw 1.5vh 1.5vw;  
    background-origin: 0.5vh;
}
section >h2:first-child {
    font-size: 1.2em;
    background-color: yellow;
    width:fit-content;
    padding:1.5vh 1.5vw;
    text-transform:uppercase;
    font-family:Barlow, sans-serif;
    font-weight: 500;
    margin-left:1.8vw;
    color:#4d4c4c;
    margin-bottom: 0;
}

article >section p:nth-child(2){
    font-size: 0.9em;
    margin-top:0;
    border-left:0.24vh solid yellow;
    margin-left:1.94vw;
    padding:3.3vh 1.6vw;
} 
article >section:nth-child(3){
margin-left:3vw;
}
article >section:nth-child(5){
    margin-left:3vw;
    }

 section > p{
   margin-left:3vw;
}
article {
    margin:0vh 12vw;
}
/* Styling for the footer element */
footer{
    border-top :0.8vh solid yellow;
    margin-top: 4vh;
    font-size: smaller;
    padding-top:3vh;
}
footer a{
    background-color: yellow;
    color:black;
    font-weight: bold;
}
